{% extends 'base.html' %}
{% block title %}Details{% endblock title %}
{% block page_title %}Details{% endblock page_title %}
{% block content %}
    {% if user.is_superuser %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    Full Name:
                    {{ sd.student_fname }} {{ sd.student_lname}}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    Age:
                    {{ sd.age_calc }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    Gender:
                    {{ sd.gender }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    Program:
                    {{ sd.program }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    Strength:
                    {{ stats.strength }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    Speed:
                    {{ stats.speed }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    Agility:
                    {{ stats.agility }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    Stamina:
                    {{ stats.stamina }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    Physical:
                    {{ stats.physical }}
                </div>
            </div>
            <div>
                <a class="btn btn-primary mt-2" href="{% url 'edit' sd.slug %}">Edit</a>
                <a class="btn btn-danger mt-2" href="{% url 'edit' sd.slug %}">Delete</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block script %}{% endblock script %}