{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Profile{% endblock title %}
{% block page_title %}{{ user.first_name }} Profile{% endblock page_title %}
{% block content %}
    <div class="container d-flex justify-content-start align-items-center">
        <form method="post">
            {% csrf_token %}
            <div class="row g-2 align-items-center mb-2">
                <div class="col-4">
                    {{ form.username.label}}
                </div>
                <div class="col-8">
                    {{ form.username|add_class:'form-control' }}
                </div>
            </div>
            <div class="row g-2 align-items-center mb-2">
                <div class="col-4">
                    {{ form.first_name.label}}
                </div>
                <div class="col-8">
                    {{ form.first_name|add_class:'form-control' }}
                </div>
            </div>
            <div class="row g-2 align-items-center mb-2">
                <div class="col-4">
                    {{ form.last_name.label}}
                </div>
                <div class="col-8">
                    {{ form.last_name|add_class:'form-control' }}
                </div>
            </div>
            <div class="row g-2 align-items-center mb-2">
                <div class="col-4">
                    {{ form.email.label}}
                </div>
                <div class="col-8">
                    {{ form.email|add_class:'form-control' }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Save changes</button>
        </form>
    </div>

{% endblock content %}