{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block page_title %}Login{% endblock page_title %}
{% block content %}
	{% if not request.user.is_authenticated %}
		<form action='' method='POST'> {% csrf_token %}
			{% if error %}
				<p class='mx-auto bg-danger text-white text-center rounded'>{{ error }}</p>
			{% endif %}
			<div class="mb-2 form-group">
				<div class="form-floating">
					<input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
					<label for="floatingInput" class="text-dark">Username</label>
				</div>
			</div>
			<div class="form-group ">
				<div class="form-floating">
					<input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
					<label for="floatingPassword" class="text-dark">Password</label>
				</div>
			</div>
			<div class="checkbox mb-3">
				<label><input type="checkbox" value="remember-me">Remember me</label>
			</div>
			<div class="form-group">
				<button class="w-100 btn btn-lg btn-primary" type="submit" name='login'>Login</button>
			</div>
		</form>
	{% else %}
		<p> You're alredy logged in. Would you like to <a href="{% url 'logout' %}">logout?</a></p>
	{% endif %}
{% endblock %}
{% block script %}{% endblock script %}