body {
    font-family: 'Roboto', sans-serif;
    color: #062957;
}

header {
    background-color: #062957;
}

header .navbar a{
    color: #ffffff;
}

.dropdown-menu {
    background-color: #062957
}

@media (min-width: 992px) {
    #myNav {
      padding: 0px 150px 0px 150px;
    }
}

#logiNav{
    display: flex;
    background-color: #d49529;
    height: auto;
    align-items: center;
}

#logiNav a{
    color: #ffffff;
}

#login{
    font-size: small;
    height: fit-content;
    color: #ffffff;
}

.carousel img {
    object-fit: cover;
    max-height: 500px; /* Define o tamanho máximo da altura da imagem */
    width: auto; /* Garante que a largura da imagem seja ajustada automaticamente */
}

.btn{
    color: #ffffff;
    border-color: #ffffff;
    background-color: #062957;
}

.btn:hover{
    color: #062957;
    border-color: #062957;
    background-color: #ffffff;
}

/* change the color of the toggle button */
.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#userIcon {
    width: 30px;
    height: auto;
}

h1 {
    text-align: center;
    font-weight: 700;
}

#text {
    text-align: center;
    font-weight: 400;
}

/* svg styles */
svg {
    width: 10;
    height: auto;
    color: #062957;
}
svg:hover{
    color: #d49529;
}
.custom-svg {
    width: 30px;
}

/* logo styles */

.logo-svg {
    width: 100px;
}