/* only-small devices */

/* small-medium devices */

@media (max-width: 991px) {
    /* change the color of the navbar toggle button */
    .custom-toggler.navbar-toggler {
        border-color: rgb(255, 255, 255);
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

/* only-larger devices */
@media (min-width: 992px) {
    #myNav {
      padding: 0px 150px 0px 150px;
    }

    #students-section {
        margin-top: 50px;
        width: 500px;
    }

    .sidetext{
        border-left: 0.15rem solid var(--primary);
    }
}

/* all devices */

:root {
    --primary: #062957;
    --secondary: #D49529;
    --tertiary: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
}

.disabled{
    opacity: 50%;
}

#profile-pic{
    width: 50px;
    height: auto;
}
.carousel img {
    object-fit: cover;
    max-height: 500px;
    width: auto;
}

.btn{
    color: var(--tertiary);
    border-color: var(--tertiary);
    background-color: var(--primary);
}

.btn:hover{
    color: var(--primary);
    border-color: var(--primary);
    background-color: var(--tertiary);
}

h1 {
    text-align: center;
    font-weight: 700;
}

#text {
    text-align: center;
    font-weight: 400;
}

/* header css */

header {
    background-color: var(--primary);
}

header .navbar a{
    color: var(--tertiary);
}

.dropdown-menu {
    background-color: var(--primary);
}

#logiNav{
    display: flex;
    background-color: var(--secondary);
    height: auto;
    align-items: center;
}

#logiNav a{
    color: var(--tertiary);
}

#login{
    font-size: small;
    height: fit-content;
    color: var(--tertiary);
}

#userIcon {
    width: 30px;
    height: auto;
}

/* svg styles */
svg {
    width: 10;
    height: auto;
    color: var(--primary);
}
svg:hover{
    color: var(--secondary);
}
.custom-svg {
    width: 30px;
}

/* logo styles */

.logo-svg {
    width: 100px;
}

/* students css*/

.student-card {
    color: #ffffff;
    margin-top: 10px;
    padding: 30px;
    width: auto;
    background: var(--primary);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);;
    cursor: pointer;
}

.student-card:hover {
    background: var(--secondary);
    box-shadow: none;;
}

div#card-pic {
    text-align: center;
}

#profile-pic {
    width: 150px;
    height: auto;
}

div#card-content {
    align-content: center;
    align-items: center;
    text-align: left;
}

input[type="date"] {
    color: #062957;
    width: 150px;
  }