<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>Cobrança Mensal</h1>
    <form id="payment-form" method="POST">
        {% csrf_token %}
        <div>
            <label for="card-element">
                Informações do cartão de crédito
            </label>
            <div id="card-element">
                <!-- Elemento do cartão do Stripe será inserido aqui -->
            </div>
            <!-- Usado para exibir erros de formulário -->
            <div id="card-errors" role="alert"></div>
        </div>
        <br>
        <button type="submit">Pagar</button>
    </form>
    <script>
        var stripe = Stripe('{{ stripepb }}');
        var elements = stripe.elements();
        var cardElement = elements.create('card');
        cardElement.mount('#card-element');
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            stripe.createToken(cardElement).then(function(result) {
                if (result.error) {
                    // Informa o usuário sobre o erro
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Insere o token de pagamento no formulário e envia o formulário para a view process_payment
                    var tokenInput = document.createElement('input');
                    tokenInput.type = 'hidden';
                    tokenInput.name = 'stripeToken';
                    tokenInput.value = result.token.id;
                    form.appendChild(tokenInput);
                    var amountInput = document.createElement('input');
                    amountInput.type = 'hidden';
                    amountInput.name = 'amount';
                    amountInput.value = '10000'; // 100,00 em centavos
                    form.appendChild(amountInput);
                    form.submit();
                }
            });
        });
    </script>
</body>
</html>
