{% extends "base.html" %}
{% load static %}
{% block title %}Evolution Futsal Club{% endblock title %}
{% block page_title %}Evolution Futsal Club{% endblock page_title %}
{% block content %}
	<section class="row mt-2">
		<article class="col-lg-8">
			<h3>Program</h3>
			<p>The <strong>Evolution Futsal Club</strong> U6-U14.  Here, athletes are submitted to a high-performance methodology of the sport through activities with higher levels of attention to detail and opportunities to play tournaments in different communities, gaining experience through real-time play on various skill levels. We meet once or twice a week in Culver City, CA and our practices include a lot of <strong><em>Brazilian street soccer</em></strong>.</p>
			<p>We provide our players with experiences that will help them grow as soccer players in a broader way, offering what their regular soccer clubs don’t offer. Here at LA Evolution, all players face opponents at different ages and skill levels, fastening their decision-making on a moment-to-moment basis, keeping them alert and present throughout the games/practices.</p>
		</article>
		<article class="col-lg-4 sidetext">
			<h4>Sessions</h4>
			<p>The program includes 10 weeks of training with lots of3v3 and 5v5 games in 90 minutes sessions, totaling 15 hours of high-quality training in futsal, beach soccer, and soccer.</p>
			<p><h6>WHAT'S INCLUDED</h6></p>
			<p>- Greater time demand to work each stage of training due to complex training methodology.</p>
			<p>- Extensive and elaborate training methodology (warm-up and coordination, technical activities, tactical, game, and final conversation).</p>
			<p>- Greater and better performance of the activities developed and attention given to the students in each activity worked.</p>
			<p>- Faster development of the students in relation to hour-long training within the applied methodology.</p>
			<p>- Optimization of the logistics and the time of parents and students due to the diverse activities carried out by them.</p>
			<p>Makeup class: if you missed a class, at the end of the session, we will offer one make up session free of charge if you missed more than one or know that will miss in the future, session please make sure to inform info@lasevolution.com.</p>
		</article>
		<article>
			<h6>This program was developed and designed for children between the ages of 6-14</h6>
			<p>We apply a high-performance methodology through activities that demand high levels of attention to detail. Athletes will play tournaments and friendly games, gaining experience through real-time play on various skill levels.</p>
			<p>A high level of futsal playing requires that all players be able to make quick and effective decision-making that does not negatively compromise the outcome of the game. During training, many factors are important such as speed of information processing, understanding of space and time, and adaptation as new experiences are acquired and new Skills are exposed.  In this program, the goal of the coaches is to gradually develop the technical and tactical skills of the athletes through training adjusted to obtain higher physical yields for the execution of balance movements, body and ball control, positioning, and movement in the court, in addition, we focus on attack and defense strategies, cooperation, dialogue and teamwork, and the use and improvement of the skills of all athletes. </p>
		</article>
	</section>
{% endblock content %}
{% block script %}{% endblock script %}