{% extends "base.html" %}
{% load static %}
{% block title %}Evolution Academy{% endblock title %}
{% block page_title %}Evolution Academy{% endblock page_title %}
{% block content %}
	<section class="row mt-2">
		<article class="col-lg-8">
			<h3>Program</h3>
			<p>Through <strong>Evolution Academy</strong>, students will learn locomotor movement, spatial awareness, taking direction, how to interact with others, practice listening and sharing, etc. All while having fun, taking the first steps as a soccer player.</p>
			<p>Here, the children have the opportunity to learn and improve a few aspects of soccer techniques, awareness, coordination, self-confidence, passing, dribbling, and introduction of position and rules of the game.  The goal is to create a fun and positive environment and make this experience unique for your child while encouraging them. </p>
			<p><strong>Note:</strong> There is no competition or teams only small side games for ages 3-4. Perfect program for beginners in the sport. Ages 5-8 will play a small side tournament.</p>
		</article>
		<article class="col-lg-4 sidetext">
			<h4>Sessions</h4>
			<p>The program includes 6 weeks of training, 2vs2 and 3vd3 games with 45 minutes sessions in 15 hours of high-quality training and skill evaluation.</p>
			<p><h6>WHAT'S INCLUDED</h6></p>
			<p>- Technical: posture, fundamentals, individual and collective technique.</p>
			<p>- Cognitive: Getting information, analyzing the situation and making a decision.</p>
			<p>- Mental: Self-confidence, team player, effort, application, concentration, and the desire to improve.</p>
			<p>- Physical: Aerobic, psychomotor, speed, flexibility, + agility, reaction time and power.</p>
			<p>- Tactical: Methodology of offensive and defensive play, transitions offense to defense and defense to offense.</p>
			<p>Makeup class: if you missed a class, at the end of the session, we will offer one make up session free of charge if you missed more than one or know that will miss in the future, session please make sure to inform info@lasevolution.com.</p>
		</article>
		<article>
			<h6>Rules of the Game & Coaching</h6>
			<p>It's very common for kids and teenagers to question rules on or off the field and during this phase, sports are their best friends because it helps them to understand how and why rules are important.  The rules of the game help them to understand what is acceptable and what is not.  Attention to the rules of the game allows young athletes to develop self-control and greater interaction with their teammates.</p>
			<p>The role of coaches is to enable our athletes to understand self-control, to lead them to an understanding of thinking before acting and to be in solidarity with their teammates, to take care of themselves and others, and to enable them to try different positions.  We believe that when each athlete has played every position, they have a better understanding of positioning and the roles of their teammates in the game.</p>
		</article>
	</section>
{% endblock content %}
{% block script %}{% endblock script %}