{% extends "base.html" %}
{% block title %}Lion Cubs{% endblock title %}
{% block page_title %}Lion Cubs{% endblock page_title %}
{% block content %}

<div class="container flex mt-2">
    <div class="row">
        <article class="col-lg-8">
            <h3>Program</h3>
            <p> <strong>LION CUBS</strong> is a developmental program designed for ages 2 through 4.  In this program CUBS will learn the first steps as a soccer player, laying a foundation essential to the sport. Through this program, CUBS practice listening, sharing, taking direction, how to interact with others and to have confidence in their body all while having fun.
            <p> In this phase the little ones are discovering the world and making small choices related to the way of being and being with the one other. Such choices refer to the self-consciousness that is improved through social interactions with one another.
            <p>This program offers separate classes for each age group for Boys and Girls combined between the ages of 2-4 years old. We want to ensure that everyone is enjoying themselves while learning the first steps of the game. We also believe it is essential for parents to provide their children with positive feedback. Our goal is that this is a unique experience; one in which each Lion Cub develops their own love for the sport without feeling forced to engage.</p>
            <h6> PARENTS, PLEASE READ </h6>
            <p> Lion Cubs requires parent or guardian involvement and sessions are set up for this kind of Parent-Child dynamic. Not all activities will require a parent’s direct participation, however may need some parent involvement in regulating behavior. No Child drop-offs for this age group are permitted.</p>
        </article>
        <section class="col-lg-4 sidetext">
            <h4>Sessions</h5>
            <p>The program aims to introduce the first steps of the sport with fun, creative and dynamic activities that will aid in the development of each child's imagination.</p>
            <p>Bring your child to have fun, develop their skills and grow with us! We offer 6 Weeks trainings with 45 minutes sessions.</p>
            <p><h6>WHAT'S INCLUDED</h6></p>
            <p>- Fun activities.</p>
            <p>- Spatial Awareness.</p>
            <p>- Positive environment.</p>
            <p>- Learning how to follow directions.</p>
            <p>- Introduction to ball control basics.</p>
            <p>- Social interaction with teammates and coaches.</p>
            <p>Makeup class: if you missed a class, at the end of the session, we will offer one make up session free of charge if you missed more than one or know that will miss in the future, session please make sure to inform info@lasevolution.com.</p>
        </section>
    </div>
    <section>
        <h6>First Steps & Coaching</h6>
        <p>During childhood, children experience a stage marked by three distinct phases of needs, such as opposition, when the child wishes to self-affirm and begin to differentiate from others, persuasion, when the child wants to be admired and recognized and for this Strives to require the attention of others and imitation when the child creates characters from people they admire and uses as a model to be followed. It is also a period marked by affective that should not occur impulsively or emotionally. On the contrary, it must take place in a more rational way. We believe that incorporating great communication is important so that the children can effectively take advantage of the values taught by the coaches so that the experience becomes enduring and unforgettable.</p>
        <p>The role of coaches is to encourage children to promote socialization with their teammates, to teach about the importance of their peers, and to understand their own value.</p>
    </section>
</div>

{% endblock content %}