{% extends "base.html" %}
{% block title %}Private Training{% endblock title %}
{% block linkcss %}{% endblock linkcss %}
{% block page_title %}Private Training{% endblock page_title %}
{% block content %}
    <section class="row mt-2">
        <article class="col-lg-8">
            <h3>Program</h3>
            <p></p>
            <p></p>
            <p></p>

            <p></p>
        </article>
        <article class="col-lg-4 sidetext">
            <h4>Sessions</h4>
                <p></p>
                <p><h6>WHAT'S INCLUDED</h6></p>
                <p>- </p>
                <p>- </p>
                <p>- </p>
                <p>- </p>
                <p>- </p>
                <p>Makeup class: if you missed a class, at the end of the session, we will offer one make up session free of charge if you missed more than one or know that will miss in the future, session please make sure to inform info@lasevolution.com.</p>
        </article>
        <article>
            <h6></h6>
            <p></p>
            <p></p>
        </article>
    </section>
{% endblock content %}
{% block script %}{% endblock script %}