{% extends "base.html" %}
{% block title %}Programs{% endblock title %}
{% block linkcss %}{% endblock linkcss %}
{% block page_title %}Programs{% endblock page_title %}
{% block content %}
    <div style="display: inline-flex; position: relative; transform: translate(-50%, 0); left: 50%">
        <div>
            <ul>
                Lion Cubs
                {% for s in sd %}
                    {% if s.program == 'lion cubs'%}
                        <li>
                            <a href='{{ s.get_absolute_url }}' >{{ s.student_fname }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div>
            <ul>
                Evolution Academy
                {% for s in sd %}
                    {% if s.program == 'evolution academy'%}
                        <li>
                            <a href='{{ s.get_absolute_url }}' >{{ s.student_fname }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div>
            <ul>
                Evolution Futsal Club
                {% for s in sd %}
                    {% if s.program == 'evolution fusal club'%}
                        <li>
                            <a href='{{ s.get_absolute_url }}' >{{ s.student_fname }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
{% block script %}{% endblock script %}