<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'src/css/base.css'%}">
    <title>Test</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                            <header>
                                <object id="logo" type="image/svg+xml" data="{% static 'src/img/lase-logo.svg' %}"></object>
                                <nav class="navbar navbar-expand-lg navbar-dark" style="height: 25px;">
                                    <div class="container-fluid">
                                        <ul class="navbar-nav ms-auto">
                                            {% if user.is_authenticated %}
                                                <li>
                                                    <a class="nav-link " href="{% url 'students' %}">Students |</a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" href="/">{{ user.username }}</a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                                                </li>
                                            {% endif %}
                                    </div>
                                </nav>
                            <nav class="navbar navbar-expand-lg navbar-dark" aria-label="Eighth navbar example">
                                <div class="container">
                                    <a class="navbar-brand" href="{% url 'home' %}">LASE</a>
                                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>

                                    <div class="navbar-collapse collapse" id="navbarsExample07" >
                                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Programs</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="{% url 'lion-cubs' %}">Lion Cubs</a></li>
                                                <li><a class="dropdown-item" href="{% url 'evolution-academy' %}">Evolution Academy</a></li>
                                                <li><a class="dropdown-item" href="{% url 'evolution-futsal-club' %}">Evolution Futsal Club</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'private-training' %}">Private Training</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'schools' %}">Schools</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'enroll' %}"> Enroll </a>
                                        </li>

                                        </ul>
                                        <form role="search">
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                        </form>
                                    </div>
                                </div>
                            </nav>
                            </header>
                <div class="bgpapper">
                            <h1>
                                {% block title %}{% endblock title %}
                            </h1>


                            <p>
                            {% block content %}
                                nada aqui
                            {% endblock content %}

                        </p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>


</body>
</html>