<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'src/css/base.css'%}">
    {% block styles %}
    {% endblock %}
    <title>Site</title>

</head>
<body>
    <nav>        
        <ul>            
            <li>
                <a href="{% url 'home' %}"> Home </a>
            </li>
            <li>
                <a href="{% url 'programs' %}"> Programs </a>
            </li>
            <li>
                <a href="{% url 'lion-cubs' %}"> Lion Cubs </a>
            </li>
            <li>
                <a href="{% url 'evolution-academy' %}" > Evolution Academy </a>
            </li>
            <li>
                <a href="{% url 'evolution-futsal-club' %}"> Evolution Futsal Club</a>
            </li>
            <li>
                <a href="{% url 'private-training' %}"> Private Training </a>
            </li>
            <li>
                <a href="{% url 'schools' %}"> Schools </a>
            </li>
            <li>
                <a href="{% url 'enroll' %}"> Enroll </a>
            </li>
            
            {% if user.is_superuser %}
                <li>
                    <a href="{% url 'students' %}"> Students</a>
                </li>
            {% endif %}            
        </ul>
        <div class="login">
            <ul>                
                {% if user.is_authenticated %}
                    <li>
                        <a href="/"> {{ user.username }}</a>
                    </li>                       
                    <li>
                        <a href="{% url 'logout' %}"> Logout </a>
                    </li>                
                {% else %}   
                    <li>
                        <a href="{% url 'login' %}"> Login </a>
                    </li>      
                {% endif %}
            </ul>
        </div>        
        
    </nav>

    <p>
    {% block content %}
        nada aqui
    {% endblock content %}
    </p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-5Y5g5PeFWQTIc5r5f+WTZ/kQUbhkGVNHsbzo+BFQmcQjz9XGqa/xXaMDb1EHzJnF" crossorigin="anonymous"></script>

</body>
</html>