{% load static %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <object id="logo" class="d-none d-md-block" type="image/svg+xml" data="{% static 'src/img/lase-logo.svg' %}"></object>
      </div>
    </div>
</div>
<div class="dropdown d-flex justify-content-end">
    {% if user.is_authenticated %}
        <img id="userIcon" src="{% static 'src/img/user-icon.svg' %}" class="dropdown-toggle rounded-circle" data-bs-toggle="dropdown" aria-expanded="false">
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="{% url 'user' %}">{{ user.username }}</a></li>
            <li><a class="dropdown-item " href="{% url 'students' %}">Students</a></li>
            <li><a class="dropdown-item disabled" href="#">Programs</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        </ul>
    {% else %}
        <ul class="nav">
            <li><a class="nav-link" id="login" href="{% url 'login' %}">Login</a></li>
        </ul>
    {% endif %}
</div>
<nav class="navbar navbar-expand-lg navbar-light" id="myNav">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">LA Evollution</a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Programs
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'lion-cubs' %}">Lion Cubs</a></li>
                <li><a class="dropdown-item" href="{% url 'evolution-academy' %}">Evolution Academy</a></li>
                <li><a class="dropdown-item" href="{% url 'evolution-futsal-club' %}">Evolution Futsal Club</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'private-training' %}">Private Training</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'schools' %}">Schools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'enroll' %}"> Enroll </a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
