
nav {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
nav ul {
    list-style-type: none;
}
nav ul li{
    display: inline-block;       
}

body {
    background-color: lightblue;
}